<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>购物车页面</title>

    <link href="__ADMIN__/css/amazeui.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/basic/css/demo.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/cartstyle.css" rel="stylesheet" type="text/css" />
    <link href="__CSS__/optstyle.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="__COMMON__/js/jquery.min.js"></script>

</head>

<body>

<!--顶部导航条 -->
<div class="am-container header">
    <ul class="message-l">
        <div class="topMessage">
            <div class="menu-hd">
                <a href="#" target="_top" class="h">亲，请登录</a>
                <a href="#" target="_top">免费注册</a>
            </div>
        </div>
    </ul>
    <ul class="message-r">
        <div class="topMessage home">
            <div class="menu-hd"><a href="#" target="_top" class="h">商城首页</a></div>
        </div>
        <div class="topMessage my-shangcheng">
            <div class="menu-hd MyShangcheng"><a href="#" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
        </div>
        <div class="topMessage mini-cart">
            <div class="menu-hd"><a id="mc-menu-hd" href="#" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
        </div>
        <div class="topMessage favorite">
            <div class="menu-hd"><a href="#" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>收藏夹</span></a></div>
    </ul>
</div>

<!--悬浮搜索框-->


<block name="content"></block>
<!--引导 -->
<div class="navCir">
    <li><a href="{:U('index/index')}"><i class="am-icon-home "></i>首页</a></li>
    <li><a href="{:U('index/classify')}"><i class="am-icon-list"></i>分类</a></li>
    <li class="active"><a href="{:U('user/cart')}"><i class="am-icon-shopping-basket"></i>购物车</a></li>
    <li><a href="{:U('user/index')}"><i class="am-icon-user"></i>我的</a></li>
</div>
<block name="js"></block>
</body>

</html>
