<extend name="Public/base"/>
<block name="content">
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">商品类别</strong> <small></small></div>
            </div>


            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <a href="{:U('goods/add_goodsclass')}" type="button" class="am-btn am-btn-primary"><span class="am-icon-plus"></span> 新增</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="am-u-sm-12">
                    <table class="am-table am-table-bordered am-table-radius am-table-striped">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>分类名称</th>
                            <th>是否启用</th>
                            <th>排序</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="data" id="vo">
                            <tr>
                                <td>
                                    {$key}
                                </td>
                                <td>
                                    {$vo['name']}
                                </td>
                                <td>
                                    <php>echo  ($vo['status'] == 1?'启用':'禁用')</php>

                                </td>
                                <td>
                                    {$vo['sort']}
                                </td>

                                <td>
                                    <a href="{:U('edit_goodsclass',array('id'=>$vo['id']))}" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</a>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <footer class="admin-content-footer">
            <hr>
            <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
        </footer>
    </div>

</block>