<extend name="Public/base"/>
<block name="content">
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">会员列表</strong>  <small></small></div>
      </div>

      <hr>

      <form class="am-g" action="{:U('userList')}" method="get">
        <div class="am-u-sm-12 am-u-md-1">
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <a href="{:U('user/userAdd')}" type="button" class="am-btn am-btn-primary"><span class="am-icon-plus"></span>新增会员</a>
            </div>
          </div>
        </div>
        <div class="am-u-sm-12 am-u-md-2">
          <input type="text" class="am-form-field" name="start_time" data-am-datepicker="{format: 'yyyy-mm-dd ', viewMode: 'years', minViewMode: 'days'}" placeholder="注册开始时间" data-am-datepicker readonly/>
        </div>
        <div class="am-u-sm-12 am-u-md-2">
          <input type="text" class="am-form-field" name="end_time" data-am-datepicker="{format: 'yyyy-mm-dd ', viewMode: 'years', minViewMode: 'days'}" placeholder="注册结束时间" data-am-datepicker readonly/>
        </div>
        <div class="am-u-sm-12 am-u-md-2">
          <div class="am-form-group">
            <select data-am-selected="{btnSize: 'sm'}" name="status">
              <option value="0">会员状态</option>
              <option value="1">未开通</option>
              <option value="2">已开通</option>
            </select>
          </div>
        </div>

        <div class="am-u-sm-12 am-u-md-2">
          <div class="am-form-group">
            <php>
              $medical = C('USER_MEDICAL');
            </php>
            <select data-am-selected="{btnSize: 'sm'}" name="medical">
              <option value="0">会员病史</option>
              <volist name="medical" id="vo">
                <option value="{$key}">{$vo}</option>
              </volist>
            </select>
          </div>
        </div>

        <div class="am-u-sm-12 am-u-md-1">
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field" name="username" placeholder="用户名精确查找">
          </div>
        </div>



        <div class="am-u-sm-12 am-u-md-2">
          <div class="am-input-group am-input-group-sm">
            <input class="am-btn am-btn-primary" value="搜索" type="submit"/>
          </span>
          </div>
        </div>
      </form>

      <div class="am-g">
        <div class="am-u-sm-12">
          <div class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              <tr>
                <th>序号</th>
                <th class="table-title">用户名</th>
                <th class="table-type">注册状态</th>
                <th class="table-author am-hide-sm-only">用户级别</th>
                <th class="table-date am-hide-sm-only">推荐人ID</th>
                <th class="table-date am-hide-sm-only">服务中心ID</th>
                <th class="table-date am-hide-sm-only">结点人ID</th>
                <th class="table-date am-hide-sm-only">是否为服务中心</th>
                <th class="table-date am-hide-sm-only">注册时间</th>
                <th class="table-set">操作</th>
              </tr>
              </thead>
              <tbody>
              <volist name="data" id="vo">
                <tr>
                  <td>{$key}</td>
                  <td>{$vo['username']}</td>
                  <td><php>
                    $role = C('ROLE');
                    echo $vo['status'] == 2 ? '已开通' : '未开通';
                  </php></td>
                  <td class="am-hide-sm-only">{$role[$vo['role']]}</td>
                  <td class="am-hide-sm-only">{$vo['higher_id']}</td>
                  <td class="am-hide-sm-only">{$vo['service_id']}</td>
                  <td class="am-hide-sm-only">{$vo['node_id']}</td>
                  <td class="am-hide-sm-only">
                    <php>
                      echo $vo['is_service'] ==  1 ? '否':'是';
                    </php>
                  </td>
                  <td class="am-hide-sm-only">{$vo['create_time']|date="Y-m-d H:i:s",###}</td>
                  <td>
                    <div class="am-btn-toolbar">
                      <div class="am-btn-group am-btn-group-xs">
                        <a  href="{:U('userEdit',array('id'=>$vo['id']))}" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</a>&nbsp;&nbsp;
                        <if condition="$vo['status'] eq 1">
                          <a  href="javascript:" class="useractive" user_id={$vo['id']} class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span>开通</a>
                        </if>
                        <a  href="{:U('Service/editService',array('id'=>$vo['id']))}" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 设置服务中心</a>&nbsp;&nbsp;

                      </div>
                    </div>
                  </td>
                </tr>
              </volist>
              </tbody>
            </table>
            <div class="am-cf">
              共 {$count} 条记录
              <div class="am-fr">
                <ul class="am-pagination">
                  {$show}
                  <!--<li class="am-disabled"><a href="#">«</a></li>-->
                  <!--<li class="am-active"><a href="#">1</a></li>-->
                  <!--<li><a href="#">2</a></li>-->
                  <!--<li><a href="#">3</a></li>-->
                  <!--<li><a href="#">4</a></li>-->
                  <!--<li><a href="#">5</a></li>-->
                  <!--<li><a href="#">»</a></li>-->

                </ul>
              </div>
            </div>
            <hr />
            <p>注：.....</p>
          </>
        </div>

      </div>
    </div>
  </div>

</block>

<block name="js">
  <script>
    $(function () {
        var url = "{:U('activeUser')}";
        $('.useractive').click(function () {
            $.post(url,{user_id:$(this).attr('user_id')},function (data) {
                layer.msg(data.msg,{time:1000},function () {
                    if(data.code){
                        return false;
                    }else{
                        window.location.href=data.data;
                    }
                })
            },'json')
        })
    })
  </script>
</block>